* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.clear {
  clear: both;
}

header {
  max-width: 1280px;
  margin: 30px;
}

.logo img {
  float: left;
  width: 200px;
  height: 40px;
  background-color: #ccc;
  position: absolute;
  left: 200px;
}

.login {
  float: right;
  position: absolute;
  right: 200px;
  cursor: pointer;
}

.login a {
  font-size: 16px;
}

.login a:hover {
  color: blue;
}

.login img {
  width: 45px;
  height: 45px;
}

.menu {
  position: absolute;
  top: 100px;
  width: 100%;
}

.menu ul {
  margin-top: 30px;
  margin-left: 150px;
  list-style-type: none;
}

.menu ul li {
  display: inline-block;
  margin-left: 40px;
}

.menu ul li p {
  font-size: 15px;
  color: #007bff;
}

.menu ul li p:hover,
.menu ul li span:hover {
  color: blue;
  cursor: pointer;
}

.menu ul li a {
  font-size: 15px;
}

.menu ul li a:hover {
  color: blue;
  text-decoration: none;
}

span {
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  position: absolute;
  left: 265px;
  top: 58px;
}

span.arrow-down {
  border-top-color: rgb(27, 75, 209);
}

.menu-item {
  max-width: 25%;
  margin-top: 30px;
}

#categoria-item {
  font-size: 14px;
  position: relative;
  left: 195px;
  top: 160px;
  margin-top: -15px;
  list-style-type: none;
  display: none;
}

#categoria-item:hover {
  background-color: rgb(27, 207, 57);
  height: 20%;
  width: 13%;
  cursor: pointer;
}

.barra-pesquisa {
  position: absolute;
  top: 300px;
  right: 450px;
  text-align: center;
}

.barra-pesquisa img {
  width: 250px;
  height: 50px;
  background-color: #ccc;
  margin: 0 auto;
  position: relative;
  left: 200px;
  margin-bottom: 25px;
}

.barra-pesquisa p {
  font-size: 20px;
  font-weight: 400;
  font-style: oblique;
  font-variant: small-caps;
  font-stretch: semi-expanded;
  width: 740px;
  position: relative;
  left: 220px;
  margin-bottom: 30px;
}

.barra-pesquisa input[type="text"] {
  width: 100%;
  height: 50px;
  padding: 15px;
  outline: 0;
  border-radius: 7px;
  border-color: rgb(155, 150, 150);
  color: #3c4449;
  background-color: #f9f9f9;
  position: relative;
  left: 220px;
}

.barra-pesquisa .img-pesquisa {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 920px;
  top: 145px;
  background-color: white;
}
