* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.clear {
  clear: both;
}

.logo {
  width: 100%;
}

.logo img {
  width: 160px;
  height: 48px;
  margin-top: 20px;
  margin-left: 100px;
  background-color: #ccc;
  float: left;
}

.login {
  margin-right: 100px;
}

.login img {
  float: right;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  margin-right: 5px;
  margin-top: 20px;
}

.login p {
  float: right;
  margin-top: 30px;
}

.menu {
  margin: 25px;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  float: left;
  padding: 0 20px;
}

.menu p {
  color: #0019fc;
  margin-left: 300px;
  position: absolute;
  margin-top: 120px;
}

.menu li a {
  text-decoration: none;
  color: #0019fc;
  position: relative;
  top: 95px;
  right: 230px;
}

.arrow-down {
  font-size: 0;
  margin-left: 6px;
  border: solid transparent;
  border-width: 6px;
  border-top-color: #0d42ee;
  border-bottom-width: 0;
  position: relative;
  top: 120px;
  left: 140px;
}

.dropdown-content {
  display: none;
}

.dropdown-item {
  position: absolute;
  margin-left: 280px;
  margin-top: 130px;
}
